<html>
    <body bgcoor=#d4a3ae>
        <center>
            <h1> IRIS FLOWER DETECTION </h1><br>

            <form method="POST", action="{{url_for('home')}}">
                <b>First Value: <input type="number", name = 'a', placeholder = "Enter 1", step="any"><br><br>
                   Second Value: <input type="number", name = 'b', placeholder = "Enter 2", step="any"><br><br>   
                </b>
                <input type = "submit", value='predict'>
            </form>"
        </center>
    </body>
</html>